%h5= @photo.caption
= image_tag(@photo.image.url(:original))
-if @photo.location
  %p Photo taken at #{@photo.location} by #{link_to @account.name, account_path(@account)}
-else
  %p Photo taken by #{link_to @account.name, account_path(@account)}
-if user_signed_in?
  -if @account == current_user.account
    =link_to "Edit Photo", edit_photo_path(@photo)
    = link_to "Delete", photo_path(@photo), :data => {:confirm => "Are you sure?", :method => "delete"}
%br/
-if @photo.tags.any?
  %p Tags on this Photo
  - @photo.tags.each do |tag|
    = link_to Account.find(tag.account_id).name, account_path(Account.find(tag.account_id))
    = button_to "Delete Tag", photo_tag_path(@photo, tag), :method => "delete"
-else
  %p There are no tags on this photo.
%br/
%h5 Tag a friend/enemy
=form_for [@photo, @tag] do |f|
  =f.collection_select(:account_id, Account.all, :id, :name)
  =f.submit
